.center {
    text-align: center;
    padding: 50px;
}

.center h1 {
    font-size: 28px;
    margin-top: 8vh;
    margin-bottom: 10px;
}

.center h2 {
    padding: 5px;
}

.center i {
    margin-top: 20px;
    font-size: 50px;
}

.center a {
    color: black;
}

.center a:hover {
    color: rgba(247, 203, 84, 1);
}
