.centered {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 50px 40px 50px 40px;
    text-align: center;
}

.text h2 {
    font-size: 25px;
    margin-bottom: 25px;
}

.linkdiv {
    padding: 10px;
}

.btn {
    width: 125px;
    height: 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #5692fa;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    transition: 0.5s;
}

.btn:hover {
    background-color: #4d84e2;
}
