.centered {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 50px 40px 50px 40px;
    text-align: center;
}

.text h2 {
    font-size: 25px;
    margin-bottom: 25px;
}

.linkdiv {
    padding: 10px;
    margin: 10px 0px;
}

.link {
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    background: linear-gradient(45deg, #38d1e8, #57e3f7);
}
