.mainContainer {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    font-size: 20px;
}

.columnsContainer {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.settingsContainer {
    margin-bottom: 20px;
}

.cursor {
    background-color: rgb(181, 231, 247);
}

.done { 
    color: #bbbbbb;
}

.buttons {
    margin-top: 40px;
}

.startBtn {
    cursor: pointer;
    padding: 8px 15px;
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
    background-color: #48cff0;
}

.startBtn:hover {
    background-color: #42d8fd;
}
